*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 2rem;
    background-color: rgb(32, 32, 32);
}
h1{
    color: white;
    font-size: 3rem;
}
.main
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 56, 56);
    border-radius: 2rem;
    padding: 2rem;
    z-index: 113142;
    width: 50%;
}

.inputs{
    display: flex;
}
.input-container {
    position: relative;
  }
  
  .input {
    padding: 10px;
    height: 40px;
    border: 2px solid #0B2447;
     border-top: none;
    border-bottom: none;
    font-size: 16px;
    background: transparent;
    outline: none;
    box-shadow: 7px 7px 0px 0px #0B2447;
    transition: all 0.5s;
  }
  
  .input:focus {
    box-shadow: none;
    transition: all 0.5s;
  }
  
  .label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    transition: all 0.5s;
    transform: scale(0);
    z-index: -1;
  }
  
  .input-container .topline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    top: 0;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .topline {
    width: 35%;
    transition: all 0.5s;
  }
  
  .input-container .underline {
    position: absolute;
    content: "";
    background-color: #0B2447;
    width: 0%;
    height: 2px;
    right: 0;
    bottom: 0;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .underline {
    width: 100%;
    transition: all 0.5s;
  }
  
  .input-container input[type="text"]:focus ~ .label {
    top: -10px;
    transform: scale(1);
    transition: all 0.5s;
  }
.text ul{
    background-color: aliceblue;
    width: 100%;
    padding: .5rem 8rem;
    border-radius: 1rem;  
    margin-top: 1rem;
    position: relative;
    font-size: 1.5rem;
    transition: all ease 1s;
}
.text ul i{
    position: absolute;
    right: 10px;
    transition: all ease 1s;
}




.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #34974d;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button:hover {
    background: #34974d;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #2e8644;
  }
  
  .button:active {
    border: 1px solid #2e8644;
  }